/*
*moodificaciones en el css general de la landing
*/

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);  
}
.tpl-header-gh .sta-header-gh_liNav .sta-header-gh_nombreSeccion{font-family: 'Poppins', sans-serif;}
.tpl-header-gh .sta-header-gh_liNav.sta-button .sta-header-gh_nombreSeccion,
.tpl-header-gh .sta-idiomas .sta-idiomas_act{border-radius:10px;}
.tpl-header-gh .sta-header-gh_fixed .sta-header-gh_liNav,
.tpl-header-gh .sta-header-gh_lateralNav{border-bottom:none!important;}
.tpl-header-gh .sta-header-gh_abs{position: relative;box-shadow:none;background-color: #efefef;}
.tpl-header-gh .sta-idiomas .sta-idioma_lista a{border: none !important;}
.tpl-header-gh .sta-header-gh_logo a img{max-width:160px;}
@media (width >= 1024px) {
  .tpl-header-gh .sta-header-gh_max{max-width:1500px!important ;}
}
/**/
.tpl-slideHome.palacio .sta-slideHome_mainContent{background: none;}
.tpl-slideHome.palacio .sta-slideHome_title, .tpl-slideHome.palacio .sta-slideHome_supTitle{font-family: 'DM Serif Display', sans-serif;}
.tpl-slideHome.palacio .sta-slideHome_buttonPromo .button{background: #14304B;color:#fff;border-radius:10px;text-transform:none;font:500 20px 'Poppins', sans-serif;border:none}
@media (width >= 801px) {
    .tpl-slideHome.palacio .sta-slideHome_buttonPromo .button {padding: 10px 70px}
}
.tpl-listScroll{max-width:740px}
.tpl-listScroll .sta-listScroll_intro :nth-child(2){font-size:14px;padding-top:40px;}
/*
*modificaciones en el css de los iframes de la seccion tarifas
*/
.tpl-formulariocont-gh .sta-formulariocont-gh_indi input{border-radius:10px;font-family:'Poppins', sans-serif;}
.tpl-formulariocont-gh button{border-radius:10px;font-family:'Poppins', sans-serif;}

#tarifas_alquiler{font-family: 'Poppins', sans-serif;border-collapse: separate;border-spacing: 0;border-radius: 10px;overflow: hidden;}
#contenido_palacio{font-family: 'Poppins', sans-serif;}
.entry-content table{border-collapse: separate;border-spacing: 0;border-radius: 10px;overflow: hidden;border: 1px solid #214786;font-family: 'Poppins', sans-serif;}
table.tabla1 th{border-radius: 10px 10px 0 0}
/*
*CSS NUEVO PALACIO DE CONGRESOS
*/

/*headerpalacio*/
.tpl-headerpalacio{position: relative;width: 100%;overflow: hidden;font:14px 'Poppins', sans-serif;color:#14304B;background-color: #efefef;}
.tpl-headerpalacio .sta-headerpalacio_photo img{width: 100%;height: auto;display: block;object-fit:cover;max-height:500px;}
.tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_title{position: relative;padding:20px 10px 20px 15px}
.tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_title:after{content: '';position: absolute;left:0;width:10px;height:10px;border-radius:50%;background: #14304B;top:50%;transform: translateY(-50%);}
.tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_subtitle{padding-bottom:20px;font:27px 'DM Serif Display';}
.tpl-headerpalacio .sta-headerpalacio_text{padding:20px}
.tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_textcontent{padding:20px 0}
.tpl-headerpalacio .sta-headerpalacio-buttons_max{display: flex;gap:15px;flex-direction:column;}
.tpl-headerpalacio .sta-headerpalacio-buttons_max a{text-align: center;padding:12px 20px;font-weight:500;cursor: pointer;text-decoration: none;border:1px solid #14304B;border-radius:10px;transition: all 0.3s ease;max-width:350px;font-size:20px;}
.tpl-headerpalacio .sta-headerpalacio-buttons_max .sta-headerpalacio_button{background: #14304B;color:#fff;}
@media (width >= 1024px) {
  .tpl-headerpalacio .sta-headerpalacio_max{display:flex;flex-direction:row-reverse;align-items:center;}
  .tpl-headerpalacio .sta-headerpalacio_text{flex:1;}
  .tpl-headerpalacio .sta-headerpalacio_text > *{padding-left:50px!important;}
  .tpl-headerpalacio .sta-headerpalacio_photo{flex:1}
  .tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_title:after{left:35px;}
  .tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_subtitle{font-size:56px;line-height:65px;letter-spacing:0.2px;}
  .tpl-headerpalacio .sta-headerpalacio_photo img{border-radius:10px 0 0 10px;height:800px;max-height:none;}
}
@media(width >= 1499px){
  .tpl-headerpalacio .sta-headerpalacio_text > *{padding-left:150px!important;}
  .tpl-headerpalacio .sta-headerpalacio_text .sta-headerpalacio_title:after{left:135px;}
}
/*titlesectionpalacio*/
.tpl-titlesectionpalacio{padding:60px 0;background-color: #efefef;}
.tpl-titlesectionpalacio .sta-titlesectionpalacio_max{font:20px 'Poppins', sans-serif;color:#fff;background:#14304B;padding:12px 20px;text-align: center;max-width:710px;}
@media(width >= 1024px){
  .tpl-titlesectionpalacio .sta-titlesectionpalacio_max{border-radius:0 10px 10px 0;text-align:right;padding-right:25px;}
  .tpl-titlesectionpalacio .sta-titlesectionpalacio_text{padding-right:35px;}
}
/*textpalacio*/
.tpl-textpalacio{padding:60px 0;font:20px 'Poppins', sans-serif;color:#14304B;background-color: #efefef;}
.tpl-textpalacio .sta-textpalacio_max{max-width:1070px;margin:0 auto;text-align: center;}
@media(width >= 1024px){
  .tpl-textpalacio{padding:110px 0;font-size:32px;}
}
/*servicios*/
.tpl-servicespalacio{padding:60px 0;font:20px 'Poppins', sans-serif;color:#14304B;background-color: #efefef;}
.tpl-servicespalacio .sta-servicespalacio_max{max-width:1200px;margin:0 auto;text-align: center;padding:60px 0;display: grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));justify-items:center;}
.tpl-servicespalacio .sta-servicespalacio_mainTitle{font-weight:700;position: relative;text-align:center;}
.tpl-servicespalacio .sta-servicespalacio_mainTitle:before{content: '';position: absolute;bottom:-20px;left:50%;transform: translateX(-50%);width:100%;height:2px;background:#14304B;max-width:640px;}
.tpl-servicespalacio .sta-servicespalacio_text{font-size:14px;}
.tpl-servicespalacio .sta-servicespalacio_service{max-width:330px;display:grid;grid-template-rows: repeat(3, 1fr);gap:20px;grid-template-rows:1fr auto 1fr;}
.tpl-servicespalacio .sta-servicespalacio_service .sta-servicespalacio_icon svg{width:70px;height: 70px;fill: #14304B;}
/*photomodule*/
.tpl-photomodulepalacio{width:100%;overflow:hidden;}
.tpl-photomodulepalacio .sta-photomodulepalacio_max img{width:100%;height:auto;display:block;object-fit:cover;max-height: 662px;}

/*cards palacio*/

.tpl-cards-palacio{padding-top: 150px;padding-bottom: 60px;background-color: #efefef;}
.page-header-max{max-width: 1220px;margin: 0 auto;text-align: center;padding: 0 30px;}
a.disabled {pointer-events: none;opacity: 0.5;cursor: not-allowed;text-decoration: none;}
.page-content {display: grid;justify-content: center;row-gap: 40px;column-gap: 40px;max-width: 1220px;padding: 40px 10px;align-items: stretch;margin: auto;}
.page-header-title{font: 27px 'DM Serif Display';margin-bottom: 10px; font-weight: 500;color:#14304b}
.page-header-text{font-size: 14px;padding-bottom: 25px;}
.tit-button-cont h2{display:flex;flex-direction:column;}
@media (min-width: 768px) {
  .page-content {grid-template-columns: repeat(2, 1fr);}
}
@media (min-width: 1024px) {
  .page-content {grid-template-columns: repeat(3, 1fr);/* grid-template-rows: 1fr 1fr 1fr; */}
  .page-header-title{font-size: 40px;margin-bottom: 15px;}
}
.card {position: relative;display: flex;align-items: flex-end;overflow: hidden;width: 100%;min-height: 550px;text-align: center;color:#fff;background-color:#fff;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);}
@media (min-width: 600px) {
  .card {height: 350px;}
}
.card img {width: 100%;height: 100%;object-fit: cover;object-position: center;transition: .1s;}

.tit-button-cont{display: grid;justify-items: center;align-items: end;}
.card:after {content: "";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 200%;pointer-events: none;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);transform: translateY(-50%);transition: transform calc(var(--d) * 2) var(--e);}
.content {position: absolute;display: flex;flex-direction: column;align-items: center;width: 100%;transition: transform var(--d) var(--e);z-index: 1;}
.content > * + * {margin-top: 1rem;}

.title {font-family: var(--font-sans);font-size: 20px;font-weight: 600;color: #14304b;line-height: 1.2;text-align: center;padding:20px 10px 0;}
.title.date{font-weight:400;font-size:16px;padding-top:5px;}
.copy {font-family: var(--font-serif);font-size: 16px;font-style: italic;line-height: 1.35;padding:50px;}

.btn {cursor: pointer;padding:5px 10px;font-size: 15px;font-weight: bold;text-transform: uppercase;color: white;background-color: #14304b;border: 1px solid #14304b;}

.btn:focus {outline: 1px dashed #000;outline-offset: 3px;}

@media (hover: hover) and (min-width: 600px) {
  .card:after {transform: translateY(0);}

  .content {transform: translateY(calc(100% - 4.5rem));}
  .content > *:not(.title) {
    opacity: 0;transform: translateY(1rem);transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {align-items: center;}
  .card:hover:before,
  .card:focus-within:before {transform: translateY(-4%);}
  .card:hover:after,
  .card:focus-within:after { transform: translateY(-50%);}
  .card:hover .content,
  .card:focus-within .content {transform: translateY(0);}
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {opacity: 1;transform: translateY(0);transition-delay: calc(var(--d) / 8);}
  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {transition-duration: 0s;}
  .card:hover img{filter: blur(10px);}
  .btn:hover {background-color: #fff;color: #14304b;text-decoration: none;}
}
.max-card{display:grid;}

/*cars v2*/
.tpl-cards-palacio.v2{padding-top: 0;}
.tpl-cards-palacio.v2 .page-header-max{max-width:1200px;margin:0 auto;padding:60px 0;}
.tpl-cards-palacio.v2 .page-content{display: grid;grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));gap:75px 10px;justify-items:center;font-family: 'Poppins', sans-serif;color:#14304B;}
.tpl-cards-palacio.v2 .card{height:430px;min-height:auto;box-shadow: none;border-radius:10px;}
.tpl-cards-palacio.v2 .card img {width: 340px;height: 430px;object-fit: cover;border-radius:10px;transition: all 0.3s ease;}
.tpl-cards-palacio.v2 .max-card {display: grid;grid-template-rows: 1fr auto;max-width:340px;}
.tpl-cards-palacio.v2 .tit-button-cont h2{display: flex;flex-direction: column;}
.tpl-cards-palacio.v2 .tit-button-cont .title{font:600 20px 'Poppins', sans-serif;padding:15px 0 0;text-align: center;}
.tpl-cards-palacio.v2 .tit-button-cont .title.date{font-size:14px;font-weight:400;}
.tpl-cards-palacio.v2 .btn{border-radius:10px;text-transform:none;font:500 15px 'Poppins', sans-serif;margin-top:15px}